.shapes-container__oval {
    width: 301px;
    height: 80px;
    background: rgb(146, 15, 191);
    border-radius: 30px;
    position: absolute;
    top: 269px;
    margin-left: 50px;
    z-index: 3;
}