.shapes-container__rectangle {
    border-bottom: 303px solid rgb(28, 63, 155);
    height: 0;
    width: 48px;
    top: -37px;
    margin-top: 60px;
    z-index: 2;
    position: absolute;
    margin-left: 173px;
    transform: rotate(137deg);
}